extend layout
block content
  h1 Bootstrap starter template
  p.lead
    | Use this document as a way to quickly start any new project.
    br
    | All you get is this text and a mostly barebones HTML document.
    br
    | טקסט בעברית
block sidebar
  .widget
    h1 Widget
    p
      | Vivamus hendrerit arcu sed erat molestie
