extend layout
block content
  h1 About
  p.lead
    | The project is non-comercial.
    br
    | The project extends 
    a(href="http://english2go.com/") english2go.com
block sidebar
  .widget
    h1 Widget
    p
      | Vivamus hendrerit arcu sed erat molestie
