extend layout
block content
  p
    | Vivamus hendrerit arcu sed erat molestie
    .btn-group(data-toggle="buttons")
      label.btn.btn-default.active
        input(type="radio", name="options", id="option1", checked="true") 
        | Level 1
      label.btn.btn-default
        input(type="radio", name="options", id="option1", checked="true") 
        | Level 2
      label.btn.btn-default
        input(type="radio", name="options", id="option1", checked="true") 
        | Level 3
  p
    | Vivamus hendrerit arcu sed erat molestie
    .btn-group(data-toggle="buttons")
      label.btn.btn-default.active
        input(type="radio", name="options", id="option1", checked="true") 
        | Full
      label.btn.btn-default
        input(type="radio", name="options", id="option1", checked="true") 
        | Short
      label.btn.btn-default
        input(type="radio", name="options", id="option1", checked="true") 
        | Brief
  p
    | Vivamus hendrerit arcu sed erat molestie
    .input-group
      input(type="number", min="1", max="30", value="1", maxlength="2", size="2").form-control
      span.input-group-btn
        //button.btn.btn-default(type="button") Go!
        button.btn.btn-default(data-toggle="modal" data-target=".bs-example-modal-lg")#goBtn Go!

      .modal.fade.bs-example-modal-lg(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button(type="button" class="close" data-dismiss="modal")
                span(aria-hidden="true") x
                span.sr-only Close
              h4.modal-title#myLargeModalLabel YouSay #13
            .modal-body 
              .modal-body-header#m_header [body]
              ul.pager
                li.previous
                  a(href="#") &larr; Older
                li.next
                  a(href="#") Newer &rarr;